a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_4b8833a { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 20px 0px 0px;width:92px; height:40px; background-color:rgba(10, 157, 255, 0.8); border-top: none; border-left: none; border-right: none; border-bottom: none; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_4b8833a:hover { background-color:rgba(0, 108, 227, 0.8); border-color:#000000;  }
#button_4b8833a:hover span { color:#FFFFFF; }
#button_40bc1880 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:139px; height:40px; background-color:rgba(15, 20, 35, 0.6); border-top: none; border-left: 2px solid #05FF9B; border-right: none; border-bottom: none; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_40bc1880:hover { background-color:rgba(3, 156, 52, 0.6); border-color:#000000;  }
#button_40bc1880:hover span { color:#FFFFFF; }
#button_579f572f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:15px 0px 0px 0px;width:139px; height:40px; background-color:rgba(15, 20, 35, 0.6); border-top: none; border-left: 2px solid #0A9DFF; border-right: none; border-bottom: none; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_579f572f:hover { background-color:rgba(0, 108, 227, 0.6); border-color:#000000;  }
#button_579f572f:hover span { color:#FFFFFF; }
#button_7bb6723a { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:15px 0px 0px 0px;width:139px; height:40px; background-color:rgba(15, 20, 35, 0.6); border-top: none; border-left: 2px solid #0A9DFF; border-right: none; border-bottom: none; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_7bb6723a:hover { background-color:rgba(0, 108, 227, 0.6); border-color:#000000;  }
#button_7bb6723a:hover span { color:#FFFFFF; }
#button_67367245 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:15px 0px 0px 0px;width:139px; height:40px; background-color:rgba(15, 20, 35, 0.6); border-top: none; border-left: 2px solid #0A9DFF; border-right: none; border-bottom: none; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_67367245:hover { background-color:rgba(0, 108, 227, 0.6); border-color:#000000;  }
#button_67367245:hover span { color:#FFFFFF; }
#button_4cdd36f7 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:15px 0px 0px 0px;width:139px; height:40px; background-color:rgba(15, 20, 35, 0.6); border-top: none; border-left: 5px solid #0A9DFF; border-right: none; border-bottom: none; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_4cdd36f7:hover { background-color:rgba(0, 108, 227, 0.6); border-color:#000000;  }
#button_4cdd36f7:hover span { color:#FFFFFF; }
#button_4864e083 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:15px 0px 0px 0px;width:139px; height:40px; background-color:rgba(15, 20, 35, 0.6); border-top: none; border-left: 2px solid #0A9DFF; border-right: none; border-bottom: none; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_4864e083:hover { background-color:rgba(0, 108, 227, 0.6); border-color:#000000;  }
#button_4864e083:hover span { color:#FFFFFF; }
body { background-color:#0E0F1A; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_54d940e3 { vertical-align: top; position:relative; display: inline-block; width:102%; min-height:675px; background:none;  }
#container_54d940e3_padding { margin: 10px; display: block;  }
#container_75846dd1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:110px; background:none;  }
#container_75846dd1_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle4 { font-size:32pt; font-family:'@Microsoft YaHei UI'; color:#0A9DFF; font-weight:bold;  }
.textstyle5 { font-size:30pt; font-family:'@Microsoft YaHei UI'; color:#FFFFFF; font-weight:bold;  }
#container_521a477f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:602px; background:none;  }
#container_521a477f_padding { margin: 10px; display: block;  }
#container_798fb160 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:424px; background:none;  }
#container_798fb160_padding { margin: 10px; display: block;  }
.textstyle6 { text-align:right; }
.textstyle7 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_155afd3d { vertical-align: top; position:relative; display: inline-block; margin:0px 0px 0px 15px;width:73%; min-height:555px; background:none;  }
#container_155afd3d_padding { margin: 10px; display: block;  }
#container_6c716894 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:56px; background:none;  }
#container_6c716894_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:22pt; font-family:'@Microsoft YaHei UI'; color:#0A9DFF; font-weight:bold;  }
.textstyle9 { font-size:20pt; font-family:'@Microsoft YaHei UI'; color:#FFFFFF; font-weight:bold;  }
#container_174fbbca { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:476px; background:none;  }
#container_174fbbca_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 400px)
{
		#container_798fb160 { width:100%;  }
		#container_155afd3d { width:100%;  }
}
