a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
#button_3f52f5e { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 20px 0px 0px;width:92px; height:40px; background-color:rgba(0, 199, 227, 0.8); border-top: none; border-left: none; border-right: none; border-bottom: none; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_3f52f5e:hover { background-color:rgba(0, 108, 227, 0.8); border-color:#000000;  }
#button_3f52f5e:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; background-image: url(rc_images/nebula_stars_space_green_wallpaper_preview.jpg); background-position:top left; background-size:cover; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_6ce45538 { vertical-align: top; position:relative; display: inline-block; width:102%; min-height:675px; background:none;  }
#container_6ce45538_padding { margin: 10px; display: block;  }
#container_36bd4fd1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:110px; background:none;  }
#container_36bd4fd1_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle4 { font-size:32pt; font-family:'Lucida Console', Monaco, monospace; color:#FFFFFF; font-weight:bold;  }
#container_3e575098 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:472px; background:none;  }
#container_3e575098_padding { margin: 10px; display: block;  }
